* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-1 {
    height: 36px;
    width: vw;
    padding: 0px 38px 0px 36px;
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
    justify-content: space-between;
}

.nav-1-logo {
    height: 24px;
    width: 24px;
    padding: 0px 12px;

}

.jordon_logo {
    position: relative;
    background-image: url(jordan.png);
    background-size: cover;
    height: 24px;
    width: 24px;
}

.text-1 {
    position: relative;
    align-items: center;
    font-size: 12px;
    font-weight: 549;
}

a.nav-1-text {
    text-decoration: none;
    color: black;
    padding: 0px 4px;
}

a:hover {
    color: gray;
}



.nav-2 {
    height: 64px;
    width: vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 36px 0px 36px;

}

.nav-2-logo {
    padding: 0px 12px;
    margin-right: 180px;
}

.nike_logo {
    height: 25px;
    width: 59px;
    background-image: url(nike_black.png);
    background-size: cover;

}

.text-2 {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.742);

}

a.nav-2-text {
    text-decoration: none;
    color: black;
    padding: 0px 12px;
}

a.nav-2-text:hover {
    text-decoration: underline;
}

.nav-2-icon {
    display: flex;
    align-items: center;
}

.searchbar {
    height: 40px;
    width: 180px;
    display: flex;
    padding: 0px 10px;
    align-items: center;
    background-color: #F5F5F5;
    border-radius: 90px;
    color: grey;
    margin-right: 12px;
}

.search-icon {
    color: #0000009d;
    font-size: 20px;

}

.search-icon:hover {
    border-radius: 44%;
    background-color: rgba(237, 237, 237, 0.918);
    padding: 7px 9px;
    margin-left: -8px;
}

input[type=text]:focus {
    outline: none;
}

.search-input {
    margin-left: 15px;
    width: 100%;
    background-color: #F5F5F5;
    border-color: transparent;
    font-size: 1rem;
    font-weight: bold;
}



::placeholder {
    color: lightgray;
    opacity: 1;
}

.heart {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.742);
    margin: 0px 14px;
}

.shop {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.742);
}

.nav-3 {
    height: 70px;
    width: vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    text-align: center;
    line-height: 20px;
}

.nav-3_link {
    font-size: 12px;
    text-decoration: underline;
    color: black;
}

.box-1 {
    width: vw;
    height: 461px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}

.bubble {
    width: 1327px;
    height: 461px;
    background-image: url(bubble.png);
    background-size: cover;
}

.box-2,
.box-3 {
    width: vw;
    height: 825px;
    padding: 0px 0px 30px;
    margin-bottom: 45px;

}

.box-heading,
.featured-cards {

    width: vw;
    margin-bottom: 12px;
    padding: 2px 48px 0px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.featured {
    height: 61px;
}

.featured-cards {
    height: 752px;
    justify-content: center;
    gap: 8px;
    font-size: 14px;
    color: black;
    text-decoration: underline;
    font-weight: bold;
}

.card-1,
.card-2,
.card-3 {
    height: 722px;
    width: 435px;
    background-size: cover;
    display: flex;
    color: #111;
    align-items: end;
}

.card-link {
    font-weight: 500;
    font-size: 14px;
}

.card-link:hover {
    color: gray;

}

.card-1 {
    background-image: url(1.png);
}

.card-2 {
    background-image: url(2.png);
}

.card-3 {
    background-image: url(3.png);
}

.gearup-box {
    width: vw;
    height: 950px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gearup-img {
    margin-top: 40px;
    width: 1327px;
    height: 700px;
    background-image: url(gearup.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.box-3-text {
    margin-top: -15px;
    text-align: center;
}